* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: aliceblue;
}

body {
  font-size: 14pt;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
legend,
ul, 
li,
a {
  font-family: "Poppins", sans-serif;
}
