@page "/"
@inject IToastService ToastService;

@inherits Fluxor.Blazor.Web.Components.FluxorComponent;
@using Fluxor;
@using TodoBlazor.Store.Todo.Actions
@inject IState<TodoBlazor.Store.Todo.TodoState> TodoState;
@inject IDispatcher Dispatcher;

<div class="index box content">
    <div class="title">
        <h1>New todo</h1>
        <legend>Add new todo to your todo list</legend>
    </div>

    <EditForm class="body" OnSubmit="HandleAddTodoAsync" Model="todo">
        <div class="input-field">
            <InputText type="text" id="name" placeholder="Name of todo" aria-placeholder="Name of todo"
                aria-autocomplete="none" autocomplete="off" @bind-Value="todo.Name" />

            <button>Submit</button>
        </div>
    </EditForm>

    @if (TodoState.Value.Todos.Count > 0)
    {
        <div style="padding: 0 35px 35px; max-height: 360px; overflow-y: auto;">
            <table class="data">
                @foreach (var todo in TodoState.Value.Todos)
                {
                    <tr>
                        <td class="data-id">
                            <input type="checkbox" name="@todo.Id" id="@todo.Id" value="@todo.Done"
                                @onchange="() => HandleToogleTodo(todo)">
                        </td>
                        <td>
                            <span style="color: #434343; font-size: 1.2rem;">
                                @todo.Name
                            </span>
                        </td>
                        <td class="data-actions">
                            <button class="del" @onclick="() => HandleRemoveTodo(todo)">
                                &times;
                            </button>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

@code {
    public Todo todo = new Todo();

    private async Task HandleAddTodoAsync()
    {
        Dispatcher.Dispatch(new AddTodo(todo.Name));

        await ToastService.AddToastAsync("Todo successfully added", "success");
        todo = new Todo();
    }

    private async Task HandleRemoveTodo(Todo todo)
    {
        Dispatcher.Dispatch(new RemoveTodo(todo));
        await ToastService.AddToastAsync("Todo successfully removed", "success");
    }

    public async Task HandleToogleTodo(Todo todo)
    {
        Dispatcher.Dispatch(new ToogleTodo(todo));
        await ToastService.AddToastAsync("The todo is now " + (todo.Done ? "done" : "left"), "danger");
    }
}

<style>
    .index.content {
        width: 100%;
    }

    .index.content h1 {
        color: #434343;
        font-weight: 300;
        font-size: 2.2rem;
    }

    @@keyframes fadeIn {
        from {
            transform: translateY(-25px);
            opacity: 0;
        }
    }

    .index.box {
        width: 620px;
        margin: 0 auto;
        background-color: white;

        transform: translateY(-65px);
        border-radius: 7px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .22);

        animation: fadeIn 200ms ease-in-out;
    }

    .index .title {
        padding: 25px 45px;
    }

    .index .title legend {
        font-size: .9rem;
        color: #3c3c3c
    }

    .index .body {
        padding: 0 45px;
        padding-bottom: 25px;
    }

    .index .input-field {
        display: flex;
    }

    .index .input-field input+button {
        margin-left: 15px;
    }

    .index input[type=text] {
        border: 1px solid #ccc;
        height: 45px;
        border-radius: 4px;
        padding: 0 15px;
        font-size: 1.2rem;
        outline: none;
        width: 100%;
        color: #434343;
    }

    .index input[type=text]::placeholder {
        color: #ccc;
        font-size: 1rem;
    }

    .index button {
        background-color: #43aa8b;
        color: white;
        font-size: 1rem;
        padding: 0 25px;
        border: #43aa8b 1px solid;
        border-radius: 4px;
        cursor: pointer;
        transition-duration: 200ms;
    }

    .index button:hover {
        filter: brightness(1.1);
    }

    .data {
        width: 100%;
        border: none;


    }

    .data tr td {
        padding: 5px 15px;
    }

    .data tr:not(:last-child) td {
        border-bottom: 1px solid #ccc;
    }

    .data td.data-id {
        width: 25px;
    }

    .data td.data-actions {
        max-width: 65px;

        text-align: right;
    }

    .index button.del {
        border: none;
        background-color: transparent;
        color: red;
        font-size: 1.8rem;
        padding: 0;

        height: 25px;
        width: 25px;
    }
</style>